Webpack (imports/exports)
    Babel
    SCSS
    Eslint
    2 Mod
        -Dev
            Dev Server, SourceMaps, Eslint, Not Minified JS/CSS
        -Prod
             Minified Code
Git
    Production
        1.0.2
    Development
        1.0.2


---
SourceMaps  -   это способ связать минифицированный/объединённый файл с файлами, из которых он получился.
10 файлов в 1 бандл, потом минифицировал, а как дебажить эту лапшу? На помощь приходит sourcemaps, который будет показывать реальную структуру файлов
---
Eslint  -   инструмент, который позволяет проводить анализ качества вашего кода, написанного на любом выбранном стандарте JavaScript. 
Он приводит код к более-менее единому стилю, помогает избежать глупых ошибок, умеет автоматически исправлять многие из найденных проблем и отлично интегрируется со многими инструментами разработки (привет, Jetbrains, мы любим вас!). 
Кстати, он, как и другие линтеры, не обязывает вас к одному какому-то конкретному стилю.
---
Gitflow является методологией работы с Git. Это значит, она определяет, какие ветки нужно создать и как производить их слияние. 
---